main {
    background-color: rgba(205, 168, 144, 0.1);;
}

h1 {
    text-align: center;
}

strong {
    color: red;
}

#btnInscription {
    width: 150px;
    max-width: 500px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin-bottom: 10px;
}

#formulaire {
    align-items: center;
}

#MDPO {
    justify-content: end;
}

.green {
    border-color: green;
    border-width: thick;
}

.red {
    border-color: red;
    border-width: thick;
}

#error1, #error2, #error3, #error4, #error5, #error6, #error7, #error8, #error9, .error {
    color: red;
}