h1, h2, h3 {
    text-align: center;
}

h2 {
    color: white;
}

hr {
    border: solid;
}

#imgLogo {
    height: 500px;
    width: 800px;
}

.mainImg {
    background-image: url(/public/assets/img/Photo_a_vendre/Lueur_gelée.jpg);
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    height: 100%;
}


.card-body ul li {
    list-style: circle;
}

.row {
    justify-content: space-around;
}

.card {
    margin-top: 35px;
    margin-left: 15px;
    opacity: 0.8;
}

.card-body, h3 {
    background-color: #FAF6F4;
}

#btnGalerie {
    width: 150px;
    max-width: 500px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin-top: 100px;
}